body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    
width: 50%;
box-sizing: border-box;
padding: 10px;
border: 1px solid  #5f9341;

}
button{
    border: none;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    display: block;
    margin-top: 3px;
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 1rem;
} 

ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}
li{
    margin: 5px;
}

li a {
    color:#5f9341 ;
  
}